@model List<AppointmentApp.Models.Appointment>

<h2>Booked Appointments</h2>

<table>
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Email</th>
    </tr>
    @foreach (var appointment in Model)
    {
        <tr>
            <td>@DateTime.Parse(appointment.Date).ToString("MM/dd/yyyy")</td>
            <td>@DateTime.Parse(appointment.Time).ToString("hh:mm tt")</td>
            <td>@appointment.Email</td>
        </tr>
    }
</table>
